.em-slideshow{
	h3, h4, h2{
		
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left:15%;
		width: 40%;
		&.em-owlcarousel-des-2{
			left:30%;
		}
	}
}


.em-line-01{
	.em-block-title, .em-widget-title, .block-title, .widget-title{
		border-bottom-width: 0px;
	}
}

.em-wrapper-ads-10{
	.bkg-top{
		position:relative;
	}
	.em-box{text-align:left;}
	.em-blog-time{
		top:auto;
		bottom:20px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		padding:0;
		&:before{
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			background-color:#fff;
			opacity: 1;
			filter: alpha(opacity=100);
		}
		p:first-child{
			font-size: 200%;
			padding: 8px 17px;
		}
		.em-blog-month{
			text-transform: capitalize;
			padding: 4px 10px;
		}
	}
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#446aa7;
	}
	&.emColorStyle02{
		background:#52a360;
	}
	&.emColorStyle03{
		background:#ff6b8a;
	}
	&.emColorStyle04{
		background:#c85181;
	}
}

.em-rtl{
	.em-wrapper-ads-10{
		.em-box{text-align:right;}
	}
}