.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 15%;
  width: 40%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 {
  left: 30%;
}

.em-line-01 .em-block-title, .em-line-01 .em-widget-title, .em-line-01 .block-title, .em-line-01 .widget-title {
  border-bottom-width: 0px;
}

.em-wrapper-ads-10 .bkg-top {
  position: relative;
}
.em-wrapper-ads-10 .em-box {
  text-align: left;
}
.em-wrapper-ads-10 .em-blog-time {
  top: auto;
  bottom: 20px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.em-wrapper-ads-10 .em-blog-time:before {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.em-wrapper-ads-10 .em-blog-time p:first-child {
  font-size: 200%;
  padding: 8px 17px;
}
.em-wrapper-ads-10 .em-blog-time .em-blog-month {
  text-transform: capitalize;
  padding: 4px 10px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #446aa7;
}
.em-color span.emColorStyle02 {
  background: #52a360;
}
.em-color span.emColorStyle03 {
  background: #ff6b8a;
}
.em-color span.emColorStyle04 {
  background: #c85181;
}

.em-rtl .em-wrapper-ads-10 .em-box {
  text-align: right;
}
