.em-slideshow{
	h3, h4, h2{
		color:@body_text2_color;
	}
	h1{
		.changeColor(@body_text7_color);
	}
}


.em-wrapper-brands{
	.changeBkg (@body_bg3_color);
	margin-bottom:0;
}

.em-wrapper-ads-10{
	.em-blog-time{
		.changeColor(@body_text2_color);
		.em-blog-month{
			.changeBkg (@footer_text3_color);
		}
	}
}

#em-mheader{.changeBkg (@footer_text3_color);}